doctype html
html(lang='ru')
	head
		title Игры с конкурсов /gd/
		meta(charset='utf-8')

		link(rel='shortcut icon' href='favicon.ico')

		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

		each URL in ['raw.githubusercontent.com', 'gd-cdn.blyat.science', 'fonts.gstatic.com']
			link(rel='dns-prefetch' href=`https://${URL}`)

		each font in ['Roboto', 'Material+Icons']
			link(rel='stylesheet' href=`https://fonts.googleapis.com/css?family=${font}`)

		link(rel='stylesheet' href=`${PATHS.css}/style.min.css?v=${VERSION}`)
	body
		// ¯\_(ツ)_/¯ 

		include inc/vendor-js.pug

		script(src=`${PATHS.js}/script.min.js?v=${VERSION}` data-version=`${VERSION}` defer)
