doctype html
html(lang='ru')
	head
		title Игры с конкурсов /gd/
		meta(charset='utf-8')

		link(rel='shortcut icon' href='./favicon.ico')

		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

		meta(name='theme-color' content=`${primeColor}`)

		each URL in ['raw.githubusercontent.com', 'gd-cdn.blyat.science', 'fonts.gstatic.com']
			link(rel='dns-prefetch' href=`https://${URL}`)

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons|Roboto:400,500,700&subset=cyrillic-ext&display=swap')

		link(rel='stylesheet' href=`${PATHS.css}/style.min.css?v=${VERSION}`)

	body.no-js
		div.container

		div.db-info
			a(href='https://github.com/twoweeks/games-db' target='_blank' rel='nofollow noopener') Проект на GitHub

		noscript
			p На дворе уже роботы по улицам ходят и магазины работают на самообслуживании, а у тебя до сих пор JavaScript в браузере отключен.
			p Стыдно, стыдно.

		each lib in LIBS
			script(src=`https://cdn.jsdelivr.net/npm/${lib.name}@${lib.v}/${lib.path}.js` integrity=`${lib.sri}` crossorigin='anonymous' defer)

		script(src=`${PATHS.js}/script.min.js?v=${VERSION}` data-version=`${VERSION}` defer)
